.botChatBox {
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: flex-start;
    margin-top: 20px;

    &>.botImg{
        margin-left: 50px;
    
        &>img{
            width: 16px;
            border-radius: 999px;
            background-color: #ffffff;
            padding: 4px;
            box-sizing: content-box;
        }
    }
}


.bot {
    font-size: 16px;
    line-height: 250%;
    color: #565756;
    display: inline-block;
    max-width: 710px;
}

.hairstyleImagesContainer {
    width: 710px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden; /* y축 스크롤바 숨기기 */
    padding-left: 100px;
}

.hairstyleImage {
    flex: 0 0 auto;
    width: 256px;
    height: 256px;
    margin-right: 24px;
    position: relative;

    & img{
        width: 100%;
        height: 100%;
        border-radius: 8px;
        cursor: pointer;
    }

    & button{
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #44444449;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 8px 10px;
        cursor: pointer;
    
        &:hover{
            background-color: #000000a9;
        }
    }
}
