.botChatBox {
    display: flex;
    align-items: start;
    gap: 16px;
    align-self: flex-start;

    &>.botImg{
        margin-left: 50px;
        margin-top: 8px;
    
        &>img{
            width: 20px;
            border-radius: 8px;
            transform: rotate(347deg);
            padding: 4px;
            box-sizing: content-box;
        }
    }
}


.bot {
    font-size: 16px;
    line-height: 250%;
    color: #565756;
    display: inline-block;
    max-width: 675px;
}

.hairstyleImagesContainer {
    width: 710px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden; /* y축 스크롤바 숨기기 */
    padding-top: 16px;

    scrollbar-width: thin; /* 스크롤바의 두께 */
    scrollbar-color: #A58D78 #f1f1f1; /* 스크롤바 손잡이와 트랙의 색상 */
}

.hairstyleImage {
    flex: 0 0 auto;
    width: 256px;
    height: 256px;
    margin-right: 24px;
    position: relative;

    & img{
        width: 100%;
        height: 100%;
        border-radius: 8px;
        cursor: pointer;
    }

    & button{
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #44444449;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 8px 10px;
        cursor: pointer;
    
        &:hover{
            background-color: #000000a9;
        }
    }
}

.botTxtNImgs{
    display: flex;
    flex-direction: column;
    align-items: start;
}