.botChatBox{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 50px;
}

.botInfo{
    display: flex;
    gap: 8px;


    &>.botImg{
        margin-left: 50px;
    }

    &>.botName{
        font-size: 24px;
    }
}

.bot{

    font-size: 16px;
    border-radius: 12px;
    border-top-left-radius: 0;

    display: inline-block;
    background-color: #D9D9D9;
    max-width: 800px;
    
    margin-left: 100px;
    margin-bottom: 12px;
    padding: 12px 20px;

}