#header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.logo {
    height: 60px;
}

.linkList {
    color: #4A4C4C;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    gap: 44px;
    list-style: none;
}

.linkList a {
    color: inherit;
    text-decoration: none;
    padding: 10px;
}

.selectedLink {
    color: #A58D78 !important;
    border-bottom: 3px solid #A58D78;
}

.mobileMenu {
    display: none;
    color: #4A4C4C;
    font-size: 24px;
    font-weight: bold;
    list-style: none;
    padding: 0;
    margin: 0 0 0.5rem 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.mobileMenu.open {
    max-height: 300px;
}

.mobileMenu li {
    padding: 1rem 1rem;
}

.mobileMenu a {
    color: inherit;
    text-decoration: none;
    padding: 10px;
}

.mobileMenu .selectedLink {
    color: #A58D78 !important;
    border-bottom: 3px solid #A58D78;
}

.menuToggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menuToggle .bar {
    width: 25px;
    height: 3px;
    background-color: #4A4C4C;
    margin: 4px 0;
    transition: 0.4s;
}

@media screen and (max-width: 768px) {
    .headerContent {
        padding: 0.5rem 1.5rem;
    }

    .linkList {
        display: none;
    }

    .menuToggle {
        display: flex;
    }

    .mobileMenu {
        display: block;
    }
}