#header>h1{
    display: none;
}

.headerContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 120px;
}


.logo{
    height: 120px;
}

.linkList{
    color: #4A4C4C;
    font-size: 24px;
    font-weight: bold;

    display: flex;
    gap: 44px;
}