.canvasBox{
    display: flex;
    flex-direction: column;
    align-items: start;
    
    padding: 12px;


    &>div{
        font-size: 40px;
        font-weight: bold;
        color: #A58D78;
        margin-bottom: 8px;
    }

    &>canvas{
        width: 300px;
        height: 300px;
        border-radius: 8px;
        border: 1px solid #BB9E7D;
        margin-bottom: 16px;
    }
}

.btnBox{
    align-self: flex-end;
    display: flex;
    gap: 20px;

    & button{
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        font: inherit;
        color: inherit;
        cursor: pointer;
        outline: none;

        &>img[src="/camera.png"]{
            width: 26px;
        }

        
        &>img[src="/folder.png"]{
            width: 31px;
        }
    }
}


/* 반응형 스타일 추가 */
@media screen and (max-width: 2000px) {
    .canvasBox > div {
        font-size: 25px;
    }
}

@media screen and (max-width: 992px) {
    .canvasBox > div {
        font-size: 23px;
    }
}

@media screen and (max-width: 768px) {
    .canvasBox > div {
        font-size: 20px;
    }
}

@media screen and (max-width: 576px) {
    .canvasBox > div {
        font-size: 20px;
    }
}

@media screen and (max-width: 400px) {
    .canvasBox > div {
        font-size: 20px;
    }
}