.userChatBox{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.user{
    color: #F8F8F8;
    font-size: 16px;
    line-height: 26px;
    border-radius: 999px;

    display: inline-block;
    background-color: #BB9E7D;
    max-width: 600px;

    margin-bottom: 12px;
    padding: 12px 20px;
}


.chatImage{
    width: 256px;
    border-radius: 8px;
}