.inputOutputBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;

    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
}

    .imgBoxContainer{
        display: flex;
        justify-content: center;
        gap: 120px;

        /* flex-wrap: wrap; */

    }

    .applyBtn{
        background-color: rgb(56, 55, 55);
        color: rgb(226, 220, 220);
        padding: 16px 24px;
        border-radius: 12px;

        cursor: pointer;
    }

    .resultImgBox{
        background-color: white;
        width: 600px;
        height: 600px;
        border: 1px black solid;

        display: flex;
        justify-content: center;
        align-items: center;

        &>canvas{
            background-color: aqua;
        }
    }