.inputBox{
    position: relative;
    margin-top: 30px;
    padding-bottom: 30px;
    /* height: 82px;
    display: inline-block;
    background-color: #E5E7E6;
    padding: 16px 20px;
    padding-right: 6px;
    padding-bottom: 0px;
     */


    &>.fileUploadLabel{
        cursor: pointer;
        position: absolute;
        top: 24px;
        left: 20px;

        &>img{
            width: 16px;
        }
    }
}

.textArea{
    resize: none;
    box-sizing: border-box !important;
    background-color: #F6F6F6;
    outline: none;
    border: none;
    font-size: 16px;
    padding: 12px 60px;
    line-height: 24px;
    box-sizing: content-box;
    margin-right: 10px;
    font-family: inherit; /* 폰트를 부모 요소와 동일하게 설정 */
    color: inherit; /* 글자색을 부모 요소와 동일하게 설정 */
    appearance: none; /* 기본 브라우저 스타일 제거 */

    border-radius: 20px;
    
    width: 804px;
    /* height: 40px;  */

    scrollbar-width: thin; /* 스크롤바의 두께 */
    scrollbar-color: #A58D78 #f1f1f1; /* 스크롤바 손잡이와 트랙의 색상 */
    
}




.btnArea{
    position: absolute;
    right: -20px;
    top: 18px;
    /* display: inline-block; */
    border-radius: 999px;
    background-color: #DFD8D8;
    padding: 8px 8px;
    padding-right: 4px;

    &>img{
        width: 20px;
    }
}



.chatBox{
    width: 765px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.chatList{
    display: flex;
    flex-direction: column;
    gap: 28px;
}