.chatContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 헤더 높이만큼 뺌 */
    padding-top: 80px; /* 헤더 높이만큼 패딩 추가 */
    box-sizing: border-box;
    overflow: hidden;
}

.chatBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    max-width: 800px;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.chatList {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-x: hidden;
    padding-bottom: 120px; /* inputBox 높이만큼 패딩 추가 */
    box-sizing: border-box;
}

.inputBox {
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
}

.inputWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 800px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.fileUploadLabel {
    cursor: pointer;
    margin-right: 10px;

    & > img {
        width: 20px;
    }
}

.textArea {
    resize: none;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 16px;
    flex: 1;
    font-family: inherit;
    color: inherit;
    padding: 0;
    padding-left: 12px;
    margin-right: 10px;
    line-height: 24px;
    min-width: 0;
}

.btnArea {
    background-color: #dfd8d8;
    padding: 8px 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    & > img {
        width: 20px;
    }
}

/* 반응형 스타일 추가 */
@media screen and (max-width: 1200px) {
    .textArea {
        font-size: 14px;
    }

    .btnArea img {
        width: 18px;
    }
}

@media screen and (max-width: 992px) {
    .textArea {
        font-size: 13px;
    }

    .btnArea img {
        width: 17px;
    }
}

@media screen and (max-width: 768px) {
    .textArea {
        font-size: 12px;
    }

    .btnArea img {
        width: 16px;
    }
}

@media screen and (max-width: 576px) {
    .textArea {
        font-size: 11px;
    }

    .btnArea img {
        width: 14px;
    }
}

@media screen and (max-width: 400px) {
    .textArea {
        font-size: 10px;
    }

    .btnArea img {
        width: 12px;
    }
}