.inputBox{
    height: 82px;
    background-color: #E5E7E6;
    position: relative;
    display: inline-block;
    padding: 16px 20px;
    padding-right: 6px;
    padding-bottom: 0px;
    margin-top: 30px;


    &>.fileUploadLabel{
        position: absolute;
        top: 22px;
        left: 36px;
        cursor: pointer;

        &>img{
            width: 16px;
        }
    }
}

.textArea{
    flex-grow: 1; /* 남은 공간 채우기 */
    resize: none;
    box-sizing: border-box;
    background-color: #F6F6F6;
    outline: none;
    border: none;
    font-size: 16px;
    padding: 0 48px;
    line-height: 40px;
    box-sizing: content-box;
    margin-right: 10px;
    font-family: inherit; /* 폰트를 부모 요소와 동일하게 설정 */
    color: inherit; /* 글자색을 부모 요소와 동일하게 설정 */
    appearance: none; /* 기본 브라우저 스타일 제거 */

    border-radius: 20px;
    width: 752px;
    height: 40px;
}


.btnArea{
    position: absolute;
    right: 24px;
    top: 18px;
    display: inline-block;
    border-radius: 999px;
    background-color: #DFD8D8;
    padding: 8px 8px;
    padding-right: 4px;

    &>img{
        width: 20px;
    }
}



.chatBox{
    width: 765px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.chatList{
    display: flex;
    flex-direction: column;
    gap: 28px;
}