#joinBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 40px 0;

    &>h1{
        color: #232323;
        font-size: 24px;
        font-weight: bold;
    }

    & label{
        font-size: 18px;
        padding: 0 4px;
        /* font-weight: lighter; */
    }

    & input[type="text"],
    & input[type="password"]{
        border-bottom: 0.5px #A58D78 solid;
        padding: 10px 4px;
        padding-top: 0;
        width: 100%;
    }
}


.textInput{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 30px;
}

.radioInput{
    display: flex;
    flex-direction: column;
    gap: 4px;

    &>div{
        display: flex;
        gap: 30px;
        padding: 12px 4px;
    }
}

.btnList{
    display: flex;
    justify-content: end;
    gap: 24px;

    font-size: 16px;

    &>.submitBtn{
        color: #ffffff;
        border-radius: 4px;
        background-color: #A58D78;
        padding: 10px 32px;
        cursor: pointer;
    }

    &>.cancelBtn{
        color: #CF667F;
        border: 1px solid #CF667F;
        border-radius: 4px;
        padding: 10px 32px;
        cursor: pointer;
    }
}

.inputList{
    width: 900px;
    gap: 14px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.inputListNBtn{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 60px;
}