.pageMain{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 88px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 32px;

    max-width: 1280px;
}

    .pageMain a{
        text-decoration: none; /* 밑줄 제거 */
        color: inherit; /* 부모 요소의 색상을 상속받음 */
    }

    .profileBox{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


        .profileImgBox{
            position: relative;
            display: inline;
        }
        
        .profileImg{
                width: 128px;
                height: 128px;

                border-radius: 999px;
            }

            .editImg{
                position: absolute;
                bottom: 0;
                right: 0;
            }


        .userName{
            font-size: 24px;
            font-weight: bold;
            color: #232323;

            margin-top: 20px;
        }

        .location{
            color: #555555;
            display: flex;
            align-items: center;

            margin-top: 20px;
        }

    .row-list{
        
        margin-top: 12px;
    }

        .row{
            margin-top: 44px;
        } 
        
        .row>.label{
            font-size: 15px;
            font-weight: bold;

            padding-bottom: 8px;
        }

        .gender{
            display: flex;
        }

            .gender>div:last-child{
                margin-left: 12px;
            }



    .deleteAccountBtn{
        /* align-self: flex-end; */

        background-color: #B03E3E;
        
        padding: 20px;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-top: 80px;

        border-radius: 4px;

        color: #FFFFFF;

        cursor: pointer;
    }