body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 88px; /* 헤더 높이만큼 패딩 추가 */
}

.profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 2000px; /* 적절한 최대 너비 설정 */
    padding: 0 10%;
}

.profile-form > h1 {
    font-size: 24px;
    font-weight: bold;
    color: #232323;
    margin-bottom: 40px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 44px;
    width: 100%;
    max-width: 1000px; /* 적절한 최대 너비 설정 */
}

.form-group label {
    font-size: 18px;
    color: #000000;
    padding: 0 4px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    border: none;       /* 테두리 제거 */
    background: none;   /* 배경색 제거 */
    outline: none;      /* 외곽선 제거 */
    box-shadow: none;   /* 그림자 제거 */
    -webkit-appearance: none; /* 웹킷 브라우저 기본 스타일 제거 */
    -moz-appearance: none;    /* 파이어폭스 브라우저 기본 스타일 제거 */
    appearance: none;         /* 기본 스타일 제거 */
    padding: 0;       /* 기본 패딩 제거 */
    margin: 0;        /* 기본 마진 제거 */
    font: inherit;    /* 부모 요소의 폰트 상속 */
    color: inherit;   /* 부모 요소의 색상 상속 */
    border-bottom: 0.5px #A58D78 solid;
    padding: 10px 4px;
    padding-top: 0;
    width: 100%;
}

.gender-options {
    display: flex;
    gap: 20px;
}

.gender-options label {
    font-size: 16px;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    width: 100%;
    max-width: 600px; /* 적절한 최대 너비 설정 */
}

.save-button {
    border: none;
    font-size: 16px;
    color: #ffffff;
    border-radius: 4px;
    background-color: #A58D78;
    padding: 10px 32px;
    cursor: pointer;
}

.cancel-button {
    color: #CF667F;
    border: 1px solid #CF667F;
    border-radius: 4px;
    padding: 10px 32px;
    cursor: pointer;
    font-size: 16px;
}
